@page
@model AboutModel
@{
}
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Mujtaba Noor Khan" style="width:100%">
            <div class="container">
                <h2>Mujtaba Noor Khan</h2>
                <p class="title">Designer and Team Lead</p>
                <p>Leader of Operations.  In charge of the marketing and organizing all members ensuring the team is focused and on track.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/Saboor!.jpg" class="rounded mx-auto d-block" style="width:30%">
            <div class="container">
                <h2>Abdul Saboor Ahmadi</h2>
                <p class="title">Developer</p>
                <p>An aspiring developer, recently graduate of Seneca College for Computer Programming and Analysis.  Saboor's most relevant work experience is working at a startup as a developer.  Hobbies include running, Gaming and Sleeping.</p>
                <p>SaboorAhmadi2@hotmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Rushmi Jamil</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>