@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">StreamShare!</h1>
    <p>Developed by Rushmi, Mujtaba, Temi, Natalie and Saboor!</p>
</div>

<p style="text-align: left; width:49%; display: inline-block;"> With streaming platforms being more popular than ever, StreamShare will allow you to watch that show or movie you’ve been dying to watching with your friends, from the comfort of your home. </p>
<p style="text-align: right; width:50%;  display: inline-block;">
</p>

<li>Sync video playback with up to 8 people across Netflix, Disney+, PrimeVideo and Hulu</li>
<li>Chat with the whole group (with full GIF/emoji functionality)</li>
<li>Watch their live reactions on video</li>
<li>Enjoy HD video quality</li>

<div class="container p-3 my-3 bg-dark text-white">
    <h1>Our Goal</h1>
    <blockquote class="blockquote">
        <p>Going to the cinema with your friends and family - without leaving your home</p>
        <footer class="blockquote-footer">The Official StreamShare Motto</footer>
    </blockquote>
</div>

<form action="action_page.php">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>